body {
	
	height: 100%;
    margin: 0;
    /*background-repeat: no-repeat;*/
   font-family: 'Open Sans', sans-serif;

	background-image: -webkit-gradient(
		linear,
		right top,
		left top,
		color-stop(0, #6E6E6E),
		color-stop(1, #FFFFFF),
		color-stop(1, #1B1B1B)
	);
	background-image: -o-linear-gradient(left, #6E6E6E 0%, #FFFFFF 100%, #1B1B1B 100%);
	background-image: -moz-linear-gradient(left, #6E6E6E 0%, #FFFFFF 100%, #1B1B1B 100%);
	background-image: -webkit-linear-gradient(left, #6E6E6E 0%, #FFFFFF 100%, #1B1B1B 100%);
	background-image: -ms-linear-gradient(left, #6E6E6E 0%, #FFFFFF 100%, #1B1B1B 100%);
	background-image: linear-gradient(to left, #6E6E6E 0%, #FFFFFF 100%, #1B1B1B 100%);
}

html {
    min-height: 100%;
}

.main-content-wrapper {
	margin: 4em;
	text-align: center;
}

div.top-menu {
	position: absolute;
	top: 1em;
	right: 1em;
	z-index: -1;
	/*border: 2px solid white;*/
	padding: 3px;
}

div.current-year {
	position: absolute;
	top: 1em;
	left: 1em;
}

span.small-link {
	font-size: 8px;
}

.center{
	text-align: center;
}

a {
	text-decoration: none;
	color: #283018;
}

a:hover {
	text-decoration: underline;
}

.left-align {
	margin-left: 5em;
}

.right-align {
	margin-left: 50em;
	font-size: 20px;
}

.bottom-margin {
	margin-bottom: .5em;
}

form.login {
	width: 30em;
	margin-left: 30%;
	
}

form.login label {
	display: inline-block;
	width: 8em;
	text-align: right;
}

form.change-password {
	width: 40em;
	margin-left: 20%;
	
}

form.change-password label {
	margin-right: .5em;
	display: inline-block;
	width: 15em;
	text-align: right;
}

form.edit-user-form {
	width: 75%;
	margin-left: 12%;
	
}

form.edit-user-form label {
	margin-right: .5em;
	display: inline-block;
	width:12%;
	text-align: right;
}

form.edit-user-form select {
	margin-right: .5em;
	display: inline-block;
	width: 15.5em;
	text-align: right;
	text-align: center;
	margin: .3em;
	padding: .5em;
	line-height: 5;
}

.fieldset {
	margin-left: 2em;	
}

.fields {
	margin: .3em;
	padding: .5em;
}

.textArea {
	
    margin-left: 30%;
}

#textArea1H3 {
	
	margin-top:0px;
	margin-left: 45.5%;

}

#textArea2H3 {
	
	margin-top: 2%;
	margin-left: 44%;
}

#textAreaPlanH3 {
	
	margin-top: 7%;
	margin-left: 45.5%;
}

.orgTempTxtArea {
	position: absolute;
	left: 31%;
	
}

#createLink {
	
	margin-left: 7.8em;
	text-decoration: underline;
	
}

#accordion {
	
	margin-top: 7%;
	margin-bottom: 1.5em;
	margin-left: 7em;
	margin-right: 7em;
	
}

.line-separator{

height:1px;

background:#717171;

border-bottom:1px solid #313030;

}

.resourceH3 {
	
	margin-left: 22%;
	
}
